policy_module(chromium, 1.0.0)


########################################
#
# Declarations
#

attribute_role chromium_roles;
roleattribute object_r chromium_roles;

type chromium_t;
type chromium_exec_t;
domain_type(chromium_t, chromium_exec_t)
application_domain(chromium_t, chromium_exec_t)

role chromium_roles types chromium_t;

allow chromium_t self:user_namespace create;
unconfined_domain_noaudit(chromium_t)

optional_policy(`
	gen_require(`
		type unconfined_t;
		role unconfined_r;
	')

	chromium_run(unconfined_t, unconfined_r)
')
