## <summary>chromium browser</summary>

########################################
## <summary>
##	Execute chromium in the chromium domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`chromium_domtrans',`
	gen_require(`
		type chromium_t, chromium_exec_t;
	')

	domtrans_pattern($1, chromium_exec_t, chromium_t)
')


########################################
## <summary>
##	Execute chromium in the chromium domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`chromium_run',`
	gen_require(`
		type chromium_t;
        attribute_role chromium_roles;
	')

    chromium_domtrans($1)
    roleattribute $2 chromium_roles;
')